<div class="pt-3">
  <h3>{{ 'shopping_cart.direct_order.heading' | translate }}</h3>
  <form [formGroup]="directOrderForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6">
        <formly-form [form]="directOrderForm" [fields]="fields" [model]="model" class="row"></formly-form>
      </div>
      <div class="col-md-3">
        <ish-product-quantity className="mw-100"></ish-product-quantity>
      </div>
      <div class="col-md-3 list-item">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="this.directOrderForm.invalid || (hasQuantityError$ | async) || loading"
        >
          {{ 'quickorder.page.add.cart' | translate }}
        </button>
      </div>
    </div>
  </form>

  <div class="list-item-row">
    <a class="btn btn-link" rel="quick-order" routerLink="/quick-order">{{
      'shopping_cart.direct_order.link.multipleItems' | translate
    }}</a>
  </div>
</div>
