<div class="number-input">
  <div
    class="btn btn-link decrease-button"
    (click)="decrease()"
    [ngClass]="cannotDecrease ? 'disabled' : ''"
    [attr.data-testing-id]="'decrease-quantity-' + field.key"
    translate
  >
    product.quantity.decrease.text
  </div>
  <div
    class="btn btn-link increase-button"
    [ngClass]="cannotIncrease ? 'disabled' : ''"
    (click)="increase()"
    [attr.data-testing-id]="'increase-quantity-' + field.key"
    translate
  >
    product.quantity.increase.text
  </div>
  <input
    type="number"
    [formControl]="formControl"
    class="form-control text-center"
    [formlyAttributes]="field"
    [attr.data-testing-id]="field.key"
    [autocomplete]="to?.autocomplete"
    [min]="to?.min"
    [max]="to?.max"
    [step]="to?.step"
    [placeholder]="to?.placeholder | translate"
    (keydown)="keydown($event)"
  />
</div>
